

<%= form_with(model: @user) do |form| %>
  <div class = "visual">
    <%= form.label :name,"ユーザー名", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class = "visual">
    <%= form.label :email,"メールアドレス", style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div class = "visual">
    <%= form.label :password,"パスワード", style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div class = "visual">
    <%= form.label :password_confirmation,"パスワード確認", style: "display: block" %>
    <%= form.password_field :password_confirmation %>
   </div>



  <div class = "visual">
    <%= form.submit "登録決定" %>
  </div>
<% end %>

<div class = "visual">
<% if @user.errors.any? %>
    <div style="color: red">
      <h3>新規登録ができませんでした下記を確認してください</h3>
      <p>メールアドレスに「@」か「.」等がない</p>
      <p>パスワードが６文字以上ではない</p>
    </div>
<% end %>
</div>