<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name,"ユーザー名", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email,"メールアドレス", style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password_digest,"パスワード", style: "display: block" %>
    <%= form.text_field :password_digest %>
  </div>

    <div>
    <%= form.label :password_digest_confirmation,"パスワード確認", style: "display: block" %>
    <%= form.text_field :password_digest_confirmation %>
   </div>



  <div>
    <%= form.submit "登録決定" %>
  </div>
<% end %>
