<%= form_with(model: poll) do |form| %>
  <% if poll.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
        <% poll.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>
      <%= form.label :title, "タイトル", style: "display: block" %>
      <%= form.text_field :title, size: 30 %>
    </p>

    <p>
      <%= form.label :description, "コメント", style: "display: block" %>
      <%= form.text_field :description, size: 30 %>
    </p>
  </div>

  <div id="choices_container">
    <% num = 0 %>
    <%= form.fields_for :choices do |choice| %>
      <% input_id = "poll_choices_attributes_#{num}_option_text" %>
      <p class="choice-item">
        <%= choice.label :option_text, "選択肢#{num + 1}", for: input_id %><br>
        <%= choice.text_field :option_text, id: input_id, name: "poll[choices_attributes][#{num}][option_text]" %>
      </p>
      <% num += 1 %>
    <% end %>
  </div>
  <button type="button" id="add_choice_button">選択肢追加</button>

  <p>
    <%= form.submit "新規作成"%>
  </p>

<p>※選択肢追加が反応しなかった場合再読み込みをしてください。</p>

  <script type="module">
    import "add_choice";
  </script>

<% end %>
