<h1>投票一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>説明</th>
      <th>投票数</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.title %></td>
        <td><%= poll.description %></td>
        <td><%= poll.votes.count %> 票</td>
        <td><%= link_to '投票する', "#" %></td>
        <td><%= link_to '投票結果', "#" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New poll", new_poll_path %>
