<div id="<%= dom_id vote %>">
  <p>
    <strong>Option text:</strong>
    <%= vote.option_text %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= vote.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vote.user_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= vote.email_id %>
  </p>

</div>
