<!DOCTYPE html>
<html>
  <head>
    <title>VoteApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>

    <% end %>

    <% if flash[:alert] %>
      <div style="color: red; border: 1px solid red; padding: 5px; margin-bottom: 10px;">
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
